
.login-logo {
  height: 180px;
  width: 180px;
}

#first_name {
  border-bottom: 2px solid rgb(69, 187, 145);
}

/*// Hashtag*/

.hashtag {
  font-size: 20px !important;
  text-transform: none !important;
}

.hash {
  color: teal;
}

/*// Tweets*/

   .tweet {
     text-align: center;
   }

.tweet-img {
  border-radius: 100%;
  display: block;

  height: 100px;
  width: 100px;
}

.heading_logo {
  height: 30px;
}

.header_score {
//  align-self:
}

.view-container {
  top: 55px;
}

