<ion-view view-title="Socket.IO Chat Demo" ng-controller="ChatController as chatCtrl" class="light-grey">
	<ion-content>
		<div class="score_counter_container">
			<h2 class="score">This is your current score: {{chatCtrl.score}}</h2>
		</div>
		<md-content layout="column"
		          layout-align="center center" ng-if="chatCtrl.tweet">
		<div class="tweet"
		     layout="column"
		     layout-align="center center">
		  <img class="tweet-img" ng-src="{{chatCtrl.tweet.image}}"/>
		  <div>@{{chatCtrl.tweet.screen_name}} <br> {{chatCtrl.tweet.tweet}}</div>
		</div>

		<md-list ng-if="chatCtrl.gameNotStarted">
		  <h2>Users Waiting For Game</h2>
		  <md-item ng-repeat="user in chatCtrl.users" layout="column">
		    <md-button class="md-accent" data="{{user}}">
		      <md-item-content>
		        <div class="md-tile-content">
		          <h3 class="user">{{user}}</h3>
		        </div>
		      </md-item-content>
		    </md-button>
		  </md-item>
		</md-list>

		<!-- Is this person a judge? -->
		<md-list ng-if="chatCtrl.isJudge">
		  <md-item ng-repeat="hashtag in chatCtrl.hashTags" layout="column">
		    <md-button class="md-accent" data="{{chatCtrl.hashtag}}" ng-click="chatCtrl.voteForHashtag(hashtag)" disabled="{{chatCtrl.hashtag.disabled}}">
		      <md-item-content>
		        <div class="md-tile-content">
		          <h3 class="hashtag"><span class="hash">#</span>{{hashtag.content}}</h3>
		        </div>
		      </md-item-content>
		    </md-button>
		  </md-item>
		</md-list>

		<!-- is this person a player? -->
		<md-list ng-if="chatCtrl.hasntVoted && !chatCtrl.isJudge">
		  <md-item ng-repeat="hashtag in chatCtrl.hashTags" layout="column">
		    <md-button class="md-accent" data="{{chatCtrl.hashtag}}" ng-click="chatCtrl.submitHashtag(hashtag)">
		      <md-item-content>
		        <div class="md-tile-content">
		          <h3 class="hashtag"><span class="hash">#</span>{{hashtag.content}}</h3>
		        </div>
		      </md-item-content>
		    </md-button>
		  </md-item>
		</md-list>

		</md-content>
		<div class="list light-grey bottommsg" ng-if="chatCtrl.gameNotStarted">
			<div class="item item-input-inset light-grey">
			  <button class="button button-block button-grey" ng-click="chatCtrl.startGame()">Start Game</button>
			</div>
		</div>
		</ion-content>
 </ion-view>