<ion-content>
  <md-content layout="column"
              layout-align="center center">
    <h2>Please select a room</h2>
    <md-list>
      <md-item ng-repeat="room in rooms" layout="column">
        <md-button class="md-accent" ng-click="enterRoom()">
          <md-item-content>
            <div class="md-tile-content">
              <h3>{{room.name}}</h3>
              <p>
                {{room.description}}
              </p>
            </div>
          </md-item-content>
        </md-button>
      </md-item>
    </md-list>
  </md-content>
</ion-content>